<% content_for :page do %>
<div data-role="page" data-url="/prescriptions/<%= @patient.id %>" data-context='{"url":"/prescriptions", "panel":"menu", "refresh":"true"}' data-id="page-customers">
  <% @location ="main" %>
  

  <%= render :partial => 'layouts/page_header', :locals => {:title => "#{@patient.name}", :location => "main" } %>

  <div data-role="content">

    <%= render :partial => "patients/patient_detail" %>

  <hr></hr>
  <%= link_to 'New Prescription', new_prescription_path(:patient_id => @patient.id), 'data-role'=>"button"%>


  
  <div class="row">
    <div class="span12">
      <% if @prescriptions.empty? %>
        <p>No prescriptions available </p>
        <p> </p>
      <% else %>
        <div id="demo">
        <table class="display example">
          <thead>
          <tr>
            <th>Tarikh Preskripsi</th>
            <th>Tarikh Tamat Preskripsi</th>
            <th>Dos Ubat</th>
            <th>Tempoh</th>
            <th>Nama Doktor</th>
            <th>Catatan</th>
            <th>Status</th>
            <th>Tindakan</th>
          </tr>
          </thead>
          <tbody>
            <% @prescriptions.each do |pres| %>
            <tr>
              <td><%= pres.date_of_prescription%> </td>
              <td><%= pres.prescription_due_date %> </td>
              <td><%= pres.medicine_dose %> </td>
              <td><%= (pres.prescription_due_date - pres.date_of_prescription).to_i %> hari </td>
              <td><%= pres.name_of_doctor %> </td>
              <td><%= pres.remarks %> </td>
              <td>status</td>
              <td>action</td>
            </tr>
            
          <% end %>
            </tbody>
        </table>
        </div>
      <% end %>
      <br/>


    </div>

  </div>

  </div>

  


  <%=  render :partial=>'layouts/main_footer' %>
</div>

<% end %>

