

<% @location = "main" %>

<hr></hr>
  <h3>Maklumat Pesakit</h3>
  <hr></hr>


<%= form_for @patient, :html => {:multipart => true} do |f| %>


<div class="row">
  <div class="span6">
    <br />
    
    <div data-role="fieldcontain">
      <%= f.label :registration_date, "Tarikh Pendaftaran Pesakit" %><br />
      <%= f.text_field :registration_date, 'data-role'=>"datebox", 'data-options'=>'{"buttonTheme": "b", "dateFormat": "dd-mm-YYYY"}' %>
    </div>
    <div data-role="fieldcontain">
      <%= f.label :name, "Nama Pesakit" %><br />
      <%= f.text_field :name %>
    </div>
    <div data-role="fieldcontain">
      <%= f.label :file_no, "No Fail Pesakit" %><br />
      <%= f.text_field :file_no %>
    </div>
    <div data-role="fieldcontain">
      <%= f.label :ic_no, "No KP Baru" %><br />
      <%= f.text_field :ic_no %>
    </div>
    <div data-role="fieldcontain">
      <%= f.label :birthdate, "Date of Birth" %><br />
      <%= f.date_select :birthdate,
      :start_year => getBirthDateStart(),
      :end_year => getBirthDateEnd() %>
    </div>
    
   
    

  </div><br>
  <div class="span6 last">
    <div data-role="fieldcontain">
      <%= f.label :age, "Umur Pesakit" %><br />
      <%= f.text_field :age %>
    </div>
    <div data-role="fieldcontain">
       <%= f.label :status, "Status Pesakit" %><br />
       <%= f.text_field :status %>
    </div>
    <div data-role="fieldcontain">
      <%= f.label :transfer, "Pindah" %><br />
      <%= f.text_field :transfer %>
    </div>
    <div data-role="fieldcontain">
      <%= f.label :old_ic, "No KP Lama/Polis/Tentera" %><br />
      <%= f.text_field :old_ic %>
    </div>
    <div data-role="fieldcontain">
      <%= f.label :race, "Bangsa" %><br />
      <%= f.text_field :race %>
    </div>
     <div data-role="fieldcontain">
      <%= f.label :work_category, "Kategori Pekerjaan" %><br />
      <%= f.text_field :work_category %>
    </div>
    <div data-role="fieldcontain">
      <%= f.label :occupation, "Nama Pekerjaan" %><br />
      <%= f.text_field :occupation %>
    </div>
   
   
  </div>
  
  </div>
  <hr></hr>
  <div data-role="fieldcontain">
	<%= image_tag @patient.avatar_url(:small) if @patient.avatar? %>
	<%= f.label :avatar, "Muatnaik Gambar Pesakit" %><br />
	<%= f.file_field :avatar %>
        
  </div>
   <div data-role="fieldcontain">
      <%= f.label :address, "Alamat" %><br />
      <%= f.text_field :address %>
    </div>
    <div data-role="fieldcontain">
      <%= f.label :postcode, "Poskod" %><br />
      <%= f.text_field :postcode %>
    </div>
    <div data-role="fieldcontain">
      <%= f.label :district_id, "Bandar" %><br />
      <%= f.text_field :daerah  %>
    </div>
    <div data-role="fieldcontain">
      
      <%= f.label :state_id, "Negeri" %><br />
      <%= f.select("state_id", options_for_select(Patient::NEGERI.collect {|x| [x[1],x[0]]}), {:prompt => 'Pilih Negeri'} )  %>
    
    </div>

    
    




  <br>
  <%= f.submit 'Save', :remote => :true %>

<% end %>

  <br/>
  <br/>
  
