<% @location = "main" %>



<div class="row">
  <div class="span6">
    <h2>Maklumat Pesakit : <b><%= @patient.name if @patient.name? %></b> </h2>
  </div>
 
</div>

<hr>


<!--  using class row and sixcol will create double column inside the main panel which consist of 12 column-->
<div class="row">
  <div class="span6">
    <table>
      <tr>
        <td align="right">Tarikh Pendaftaran Pesakit : </td>
        <td><%= @patient.registration_date.strftime('%d/%m/%Y') if @patient.registration_date?%></td>
      </tr>
      <tr>
        <td align="right">No Fail Pesakit :</td>
        <td><%= @patient.file_no if @patient.file_no?%> </td>
      </tr>
      <tr>
        <td align="right">No KP Baru :</td>
        <td><%= @patient.ic_no if @patient.ic_no? %></td>
      </tr>
      <tr>
        <td align="right">Tarikh Lahir : </td>
        <td><%= @patient.birthdate.strftime('%d/%m/%Y') if @patient.birthdate? %></td>
      </tr>
      <tr>
        <td align="right">Umur Pesakit : </td>
        <td><%= @patient.age if @patient.age? %></td>
      </tr>
      <tr>
        <td align="right">Kategori Pekerjaan : </td>
        <td><%= @patient.work_category if @patient.work_category? %></td>
      </tr>
      <tr>
        <td align="right">Pindah : </td>
        <td><%= @patient.transfer if @patient.transfer? %></td>
      </tr>
      <tr>
        <td align="right">No KP Lama/Tentera/Polis : </td>
        <td><%= @patient.old_ic if @patient.old_ic? %></td>
      </tr>
      <tr>
        <td align="right">Bangsa : </td>
        <td><%= @patient.race if @patient.race? %></td>
      </tr>
      <tr>
        <td align="right">Nama Pekerjaan : </td>
        <td><%= @patient.occupation if @patient.occupation? %></td>
      </tr>
    </table>

  </div>
  <div class="last">
    <p><%= image_tag @patient.avatar.url(:thumb) %></p>
    <p>Status Pesakit : <%= @patient.status %> </p>


  </div>
</div>

<hr>

<div class="row">
  <div class="span6">
    <h2>Rekod Preskipsi</h2>
  </div>

</div>

<div class="row">
  <div class="span12">
      <div id="demo">

        <% if @patient.prescriptions.empty? %>
            Tiada preskripsi wujud untuk pesakit ini.
        <% else %>
           <table class="display example">
                <thead>
                  <tr>
                    <th>Tarikh Mula Preskripsi</th>
                    <th>Tarikh Tamat Preskripsi</th>
                    <th>Dos Ubat</th>
                    <th>Tempoh</th>
                    <th>Nama Dr.</th>
                    <th>Status</th>
                    <th>Lihat Terperinci</th>
                  </tr>
                </thead>
                <tbody>
                  <% @patient.prescriptions.each do |pres| %>
                  <tr>
                    <td><%= pres.date_of_prescription.strftime("%d/%m/%Y") %> </td>
                    <td><%= pres.prescription_due_date.strftime("%d/%m/%Y") %> </td>
                    <td><%= pres.medicine_dose%> <%= pres.uom %>  </td>
                    <td><%= (pres.prescription_due_date - pres.date_of_prescription).to_i %> hari</td>
                    <td><%= pres.name_of_doctor %> </td>
                    <td>status</td>
                    <td><%= link_to 'Dispensan Terperinci', show_dispense_dispenses_path(:id => pres.id), 'data-role'=>"button" %> </td>
                  </tr>
                  <% end %>
                </tbody>
              </table>
        <% end %>
        
      </div>
      
    <%#*</div>%>
    
  </div>
</div>


<br>


