<% @location = "main" %>


<div class="row">
  <div class="span6">
    <h2>Maklumat Pesakit : <b><%= @patient.name if @patient.name? %></b> </h2>
  </div>
 
</div>

<hr>


<!--  using class row and sixcol will create double column inside the main panel which consist of 12 column-->
<div class="row">
  <div class="span6">
    <table>
      <tr>
        <td align="right">Tarikh Pendaftaran Pesakit : </td>
        <td><%= @patient.registration_date.strftime('%d/%m/%Y') if @patient.registration_date?%></td>
      </tr>
      <tr>
        <td align="right">No Fail Pesakit :</td>
        <td><%= @patient.file_no if @patient.file_no?%> </td>
      </tr>
      <tr>
        <td align="right">No KP Baru :</td>
        <td><%= @patient.ic_no if @patient.ic_no? %></td>
      </tr>
      <tr>
        <td align="right">Tarikh Lahir : </td>
        <td><%= @patient.birthdate.strftime('%d/%m/%Y') if @patient.birthdate? %></td>
      </tr>
      <tr>
        <td align="right">Umur Pesakit : </td>
        <td><%= @patient.age if @patient.age? %></td>
      </tr>
      <tr>
        <td align="right">Kategori Pekerjaan : </td>
        <td><%= @patient.work_category if @patient.work_category? %></td>
      </tr>
      <tr>
        <td align="right">Pindah : </td>
        <td><%= @patient.transfer if @patient.transfer? %></td>
      </tr>
      <tr>
        <td align="right">No KP Lama/Tentera/Polis : </td>
        <td><%= @patient.old_ic if @patient.old_ic? %></td>
      </tr>
      <tr>
        <td align="right">Bangsa : </td>
        <td><%= @patient.race if @patient.race? %></td>
      </tr>
      <tr>
        <td align="right">Nama Pekerjaan : </td>
        <td><%= @patient.occupation if @patient.occupation? %></td>
      </tr>
    </table>

  </div>
  <div class="last">
    <p><%= image_tag @patient.avatar.url(:thumb) %></p>
    <p>Status Pesakit : <%= @patient.status %> </p>


  </div>
</div>

<hr>

<div class="row">
  <div class="span6">
    <h2>Rekod Preskipsi</h2>
  </div>

</div>

<div class="row">
  <div class="span6">
    <table class="ui-table">
                <thead class="ui-bar-b">
                  <tr>
                    <th>Tarikh</th>
                    <th>Nama Ubat</th>
                    <th>Dos Ubat</th>
                    <th>Tempoh</th>
                    <th>Nama Dr.</th>
                    <th>Status</th>
                    <th>Aksi</th>
                  </tr>
                <thead>
                <tbody>
                  <tr>
                    <td>10/1/2011</td>
                    <td>Ubat Batuk</td>
                    <td>5 mg</td>
                    <td>1 Minggu</td>
                    <td>Asyraf Rahman</td>
                    <td>Selesai</td>
                    <td>[]</td>
                  </tr>
                  <tr>
                    <td>10/1/2011</td>
                    <td>Ubat Batuk</td>
                    <td>5 mg</td>
                    <td>1 Minggu</td>
                    <td>Asyraf Rahman</td>
                    <td>Belum Selesai</td>
                    <td><a href="<%= new_dispense_path(:id => 1) %>" data-role="button" data-icon="gear" data-theme="c"><span style="color:green;">Pesakit Baru</span></a></td>
                  </tr>
                </tbody>
              </table>
  </div>
</div>


<br>