<div class="row">
<div class="span3">
  
</div>
<div class="span6">
  <img src="/images/methadone3.jpg" width="540" height="300"/>
	<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html=>{'data-ajax' => "false"}) do |f| %>
	  <div data-role="fieldcontain">
		  <%= f.label :email %>
		  <%= f.email_field :email %>
	  </div>

	  <div data-role="fieldcontain">
		  <%= f.label :password %>
		  <%= f.password_field :password %>
	  </div>

	  <div data-role="fieldcontain">
		  <% if devise_mapping.rememberable? -%>
		    <input id="user_remember_me" type='hidden' name="user[remember_me]" type="checkbox" value="1">
		  <% end -%>
	  </div>

	  <div data-role="fieldcontain"><%= f.submit "Sign in", 'data-inline' => 'true' %></div>
	<% end %>

	<%= render :partial => "devise/shared/links" %>
</div>
<div class="span3 last"></div>
</div>