<% if user_signed_in? %>

<div data-role="footer" data-position="fixed" data-id="ew-footer">
  <div data-role="navbar">
    <ul>
      <li><%= link_to 'Maklumat Waris', work_in_progress_dispenses_path, 'data-panel'=>"main",'data-transition'=>"slideup" %></li>
      <li><%= link_to 'Maklumat Penagihan', work_in_progress_dispenses_path, 'data-panel'=>"main",'data-transition'=>"slideup" %></li>
      <li><%= link_to 'Rekod Pusat Serenti/Penjara', work_in_progress_dispenses_path, 'data-panel'=>"main",'data-transition'=>"slideup" %></li>
      <li><%= link_to 'Kaedah Rujukan ke Program DST', work_in_progress_dispenses_path, 'data-panel'=>"main",'data-transition'=>"slideup" %></li>
      <li><%= link_to 'Sejarah Perubatan', work_in_progress_dispenses_path, 'data-panel'=>"main",'data-transition'=>"slideup" %></li>
      
    </ul>
  </div><!-- /navbar -->
  <h2 class="ui-splitview-hidden">Engineworks &copy CS8</h2>
</div><!-- /footer -->
<% else %>
  <div data-role="footer">

    <h2>MyDST &copy CS8</h2>
  </div>
<% end %>