<div data-role="page" 
<%= (defined? html_id and !html_id.blank?) ? "id=#{html_id}" : ""  %>
<%= (defined? html_class and !html_class.blank?) ? "id=#{html_class}" : ""  %>
     >

  <%= render :partial=>'layouts/page_header', :locals => {:title => title, :location => location } %>

  <div data-role="content" data-scroll="true">
    <%= yield %>
  </div>

  <% if !location.blank? && location == 'menu' %>

    <%=  render :partial=>'layouts/page_footer' %>
  <% else %>
    <%=  render :partial=>'layouts/main_footer' %>
  <% end %>
</div>