<!DOCTYPE html>
<html>
  <head>
    <title>myDST</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1">
    <%= stylesheet_link_tag "jquery.mobile-1.0a4.1","jquery.mobile.splitview","jquery.mobile.scrollview", "jquery.mobile.grids.collapsible","jquery.mobile.datebox", "demo_page", "demo_table" %>
    <%= csrf_meta_tag %>
	<%= yield :head %>
  </head>

  <body>
    
      <%= render :layout=>'layouts/page_layout', :locals=>{:title=>@page_title, :location => @location} do %>
        <%= yield %>
      <% end %>
    
  </body>
  <%= javascript_include_tag "jquery-1.5.2.min", "application", "jquery.mobile.splitview", "jquery.mobile-1.0a4.1", "jquery.easing.1.3", "jquery.mobile.scrollview", "jquery-ui","jquery.mobile.datebox", "jquery", "jquery.dataTables" %>
 
  <%= yield :jscript %>

 

</html>

